body {
  background: rgb(29, 28, 29);
}

input {
  color: #f6f6f6;
  background: transparent !important;
  border: 1px solid rgb(71, 69, 69) !important;
}
input[type="submit"] {
  background: #33c3f0 !important;
}
#book-list {
  color: #f6f6f6;
}
